body {
    font-family: 'Sedgwick Ave', cursive;
    background: #232323;
    color: #232323;
}

table {
   
    width: 100%;
    margin-top:20px;
}

th, td {
    text-align: left;
    padding: 3px;
}

tr {
    height: 30px;
   background-color:pink;
}

    tr:hover {
        border-radius: 20%;
        border: 1px solid pink;
        height: 50px;
        transition: 0.3s;
    }

th {
    background-color: pink;
    color: black;
}

img {
    width: 60px;
    height: 30px;
    border-radius: 20%;
}
    img:hover {
        width: 70px;
        height: 50px;
        border-radius: 20%;
        transition: 0.5s;
    }
